<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Edukit Recipt</title>
    <style>
        *{
            margin: 0;
            padding:0;
            box-sizing: border-box;
        }
        section#ek-recipt {
            font-size: 18px;
        }
        #ek-recipt .ek-page-title {
            margin: 2rem auto 3.5rem;
        }
        #ek-recipt .border-bottom{
            border-color: #333 !important;
        }
        .ek-h-3{
            height: 5rem;
        }
        .ek-field-value{
            padding: 10px
        }
        .border-dark-1{
            border: 2px solid #333;
            margin-bottom: 1.5rem;
        }
        @media print {
            @page{
                size: 210mm 300mm;
                margin: 50px;
            }
            .print-btn{display:none};
            body{
                width:747px;
                size: A4 portrait;
            }
            .no-Print{
              display: none
            }
        }
    </style>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark no-Print">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Edukit
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipt">Recipt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipt/create">New Recipt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <section id="ek-recipt">
        <div class="container">
            <div class="row print-btn">
                <button class="btn btn-secondary d-inline-block float-end" style="width:fit-content; margin: 15px .5rem .5rem auto" onclick="window.print()">Print</button>
            </div>
            <%[{title: "Original"}, {title: "Dublicate"}].forEach((rc)=>{%>
                <div class="row justigy-content-center border-dark-1">
                    <div class="col-12 text-center">
                        <h1 class="ek-page-title text-center fw-bold text-uppercase">Payment Voucher</h1>
                        <!-- <span class="h5"><%=rc.title%></span> -->
                    </div>
                    <div class="col-6 d-flex align-items-center justigy-content-start mb-3">
                        <div class="col-lg-2 col-3">
                            <span class="ek-field-label fw-bold">S.No.</span>
                            <span class="float-end fw-bold me-2">:</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6 border-bottom">
                            <span class="ek-field-value"><%-rcpt.reciptNo%></span>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end mb-3 ">
                        <div class="col-lg-2 col-3">
                            <span class="ek-field-label fw-bold">Date</span>
                            <span class="float-end fw-bold me-2">:</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6 border-bottom">
                            <span class="ek-field-value"><%-(()=>{ let d = new Date(rcpt.createdAt); return d.toLocaleDateString() })()%></span>
                        </div>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <div class="col-3">
                            <span class="ek-field-label fw-bold">Sum Of Rupees</span>
                            <span class="float-end fw-bold me-2">:</span>
                        </div>
                        <div class="col-9 border-bottom">
                            <span class="ek-field-value"><%-rcpt.amount%>/-</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <div class="col-3">
                            <span class="ek-field-label fw-bold">In Words</span>
                            <span class="float-end fw-bold me-2">:</span>
                        </div>
                        <div class="col-9 border-bottom">
                            <span class="ek-field-value">-</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <div class="col-3">
                            <span class="ek-field-label fw-bold">Paid To</span>
                            <span class="float-end fw-bold me-2">:</span>
                        </div>
                        <div class="col-9 border-bottom">
                            <span class="ek-field-value"><%-rcpt.entity%></span>
                        </div>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <div class="col-3">
                            <span class="ek-field-label fw-bold">Description</span>
                            <span class="float-end fw-bold me-2">:</span>
                        </div>
                        <div class="col-9 border-bottom">
                            <span class="ek-field-value"><%-rcpt.hasOwnProperty("remark") ? rcpt.remark : "No remark" %></span>
                        </div>
                    </div>
                    <div class="col-6 ek-h-3 d-flex flex-column align-items-start justify-content-end mb-3">
                        <div class="col-8 border-bottom text-center">
                            <span class="ek-field-value">Rajvardhan</span>
                        </div>
                        <div class="col-8 text-center">
                            <span class="ek-field-label fw-bold">Prepared By</span>
                        </div>
                    </div>
                    <div class="col-6 ek-h-3 d-flex flex-column align-items-end justify-content-end mb-3">

                        <div class="col-8 border-bottom text-center">
                            <span class="ek-field-value">qwerty rest</span>
                        </div>
                        <div class="col-8 text-center">
                            <span class="ek-field-label fw-bold">Recieved By</span>
                        </div>
                    </div>
                </div>
            <%})%>
            <!-- <div class="row justigy-content-center border-dark-1">
                <h1 class="ek-page-title text-center fw-bold text-uppercase">Payment Voucher</h1>
                <div class="col-6 d-flex align-items-center justigy-content-start mb-3">
                    <div class="col-lg-2 col-3">
                        <span class="ek-field-label fw-bold">S.No.</span>
                        <span class="float-end fw-bold me-2">:</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 border-bottom">
                        <span class="ek-field-value">264000</span>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end mb-3 ">
                    <div class="col-lg-2 col-3">
                        <span class="ek-field-label fw-bold">Date</span>
                        <span class="float-end fw-bold me-2">:</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 border-bottom">
                        <span class="ek-field-value">05-04-2023</span>
                    </div>
                </div>
                <div class="col-12 d-flex mb-3">
                    <div class="col-3">
                        <span class="ek-field-label fw-bold">Sum Of Rupees</span>
                        <span class="float-end fw-bold me-2">:</span>
                    </div>
                    <div class="col-9 border-bottom">
                        <span class="ek-field-value">264000/-</span>
                    </div>
                </div>
                <div class="col-12 d-flex mb-3">
                    <div class="col-3">
                        <span class="ek-field-label fw-bold">In Words</span>
                        <span class="float-end fw-bold me-2">:</span>
                    </div>
                    <div class="col-9 border-bottom">
                        <span class="ek-field-value">Two lac sixty four thousand only</span>
                    </div>
                </div>
                <div class="col-12 d-flex mb-3">
                    <div class="col-3">
                        <span class="ek-field-label fw-bold">Paid To</span>
                        <span class="float-end fw-bold me-2">:</span>
                    </div>
                    <div class="col-9 border-bottom">
                        <span class="ek-field-value">xyz vender</span>
                    </div>
                </div>
                <div class="col-12 d-flex mb-3">
                    <div class="col-3">
                        <span class="ek-field-label fw-bold">Description</span>
                        <span class="float-end fw-bold me-2">:</span>
                    </div>
                    <div class="col-9 border-bottom">
                        <span class="ek-field-value"></span>
                    </div>
                </div>
                <div class="col-6 ek-h-3 d-flex flex-column align-items-start justify-content-end mb-3">
                    <div class="col-8 border-bottom text-center">
                        <span class="ek-field-value">Rajvardhan</span>
                    </div>
                    <div class="col-8 text-center">
                        <span class="ek-field-label fw-bold">Prepared By</span>

                    </div>
                </div>
                <div class="col-6 ek-h-3 d-flex flex-column align-items-end justify-content-end mb-3">

                    <div class="col-8 border-bottom text-center">
                        <span class="ek-field-value">qwerty rest</span>
                    </div>
                    <div class="col-8 text-center">
                        <span class="ek-field-label fw-bold">Recieved By</span>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
