<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <title>Edukit Recipt</title>
    <style>
        *{
            margin: 0;
            padding:0;
            box-sizing: border-box;
        }
        section#ek-recipt {
            font-size: 18px;
        }
        #ek-recipt .ek-page-title {
            margin: 2rem auto 3.5rem;
        }
        #ek-recipt .border-bottom{
            border-color: #333 !important;
        }
        .ek-h-3{
            height: 5rem;
        }
        .ek-field-value{
            padding: 10px
        }
        .border-dark-1{
            border: 2px solid #333;
            margin-bottom: 1.5rem;
        }
        @media print {
            @page{
                size: 210mm 300mm;
                margin: 50px;
            }
            .print-btn{display:none};
            body{
                width:747px;
                size: A4 portrait;
            }

        }
        .form-label{
            width: 18ch;
        }
    </style>
</head>
<body>
  <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Edukit
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipt">Recipt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipt/create">New Recipt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
        <section id="reciptList">
            <div class="container">
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="caption-top table">
                            <caption class="fw-bold h5 text-dark">All Recipts</caption>
                            <thead class="border-1 border-secondary">
                                <tr class="bg-secondary text-white">
                                    <th>S.No.</th>
                                    <th>Recipt No</th>
                                    <th>Paid To</th>
                                    <th>Amount</th>
                                    <th style="width: 8ch">View</th>
                                    <th style="width: 8ch">Edit</th>
                                    <th style="width: 8ch">Delete</th>
                                </tr>
                            </thead>
                            <tbody class="border-1 border-secondary">
                                <%if(recipts? recipts = JSON.parse(recipts): ""){%>
                                    <%recipts.forEach((recipt, i) =>{%>
                                        <tr>
                                            <td><%= i + 1%></td>
                                            <td><%= recipt.reciptNo %></td>
                                            <td><%= recipt.entity %></td>
                                            <td><%= recipt.amount %></td>
                                            <td class="text-center">
                                                <!-- <button class="text-white btn btn-sm btn-info" @click="getRecipt(<%-recipt.id%>)"><i class="bi bi-eye"></i>View</button> -->
                                                <a class="text-white btn btn-sm btn-info" href="/recipt/<%-recipt.id%>"><i class="bi bi-eye"></i>View</a>
                                            </td>
                                            <td class="text-center">
                                                <button class="text-white btn btn-sm btn-warning" @click="getRecipt(<%-recipt.id%>)"><i class="bi bi-eye"></i>Edit</button>
                                            </td>
                                            <td class="text-center">
                                                <button class="text-white btn btn-sm btn-danger" @click="deleteRecipt(<%-recipt.id%>)"><i class="bi bi-eye"></i>Delete</button>
                                            </td>
                                        </tr>
                                    <%})%>
                                <%}%>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
