<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <title>Edukit Recipt</title>
    <style>
        *{
            margin: 0;
            padding:0;
            box-sizing: border-box;
        }
        section#ek-recipt {
            font-size: 18px;
        }
        #ek-recipt .ek-page-title {
            margin: 2rem auto 2rem;
        }
        #ek-recipt .border-bottom{
            border-color: #333 !important;
        }
        .ek-h-3{
            height: 5rem;
        }
        .ek-field-value{
            padding: 10px
        }
        .border-dark-1{
            border: 2px solid #333;
            margin-bottom: 1.5rem;
        }
        @media print {
            @page{
                size: 210mm 300mm;
                margin: 50px;
            }
            .print-btn{display:none};
            body{
                width:747px;
                size: A4 portrait;
            }
        }
        .form-label{
            width: 18ch;
        }
    </style>
</head>
<body>
    <div id="app">
        <section id="ek-recipt">
            <div class="container">
                <div class="row justigy-content-center">
                    <h1 class="ek-page-title text-center fw-bold text-uppercase">Payment Voucher</h1>
                    <div class="bg-secondary border-1 col-12 col-lg-8 col-sm-10 mx-auto p-lg-5 rounded-3 text-white">
                         <form class="row g-3" @submit.prevent="submitRecipt">
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                                <label for="Amount" class="form-label fw-bold">Recipt No.</label>
                                <div class="col-8">
                                    <input type="number" name="Recipt" class="form-control" :class="{'is-invalid' : errors.has('Recipt')}" id="validationServer01" v-model="formData.reciptNo" v-validate="'required|numeric'" required>
                                    <div v-if="errors.has('Recipt')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                        {{ errors.first('Recipt') }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                              <label for="paidto" class="form-label fw-bold">Paid To</label>
                              <div class="col-8">
                                  <input type="text" name="Paid To" class="form-control" :class="{'is-invalid' : errors.has('Paid To') }" id="paidto" v-model="formData.entity" v-validate="'required'" required>
                                  <div v-if="errors.has('Paid To')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                    {{ errors.first('Paid To') }}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                              <label for="Amount" class="form-label fw-bold">Amount</label>
                              <div class="col-8">
                                  <input type="number" name="Amount" class="form-control" :class="{'is-invalid' : errors.has('Amount')}"
                                  id="validationServer01"
                                  v-model="formData.amount"
                                  v-validate="'required|numeric'"
                                  @change="onAmountChange(formData.amount)"
                                  required>
                                  <div v-if="errors.has('Amount')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                    {{ errors.first('Amount') }}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                                <label for="Remark" class="form-label fw-bold">Remark</label>
                                <div class="col-8">
                                    <textarea rows="1" cols="8" name="Remark" class="form-control" :class="{ 'is-invalid' : errors.has('Remark') }" id="validationServer01" v-model="formData.remark" v-validate="'required'" required></textarea>
                                    <div v-if="errors.has('Remark')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                      {{ errors.first('Remark') }}
                                    </div>
                                </div>
                              </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                              <label for="IGST" class="form-label fw-bold">IGST</label>
                              <div class="col-8">
                                  <input type="number" name="IGST" class="form-control" v-model="formData.IGST" v-validate="'numeric'" disabled>
                                  <!-- <div v-if="errors.has('Amount')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Amount is required.
                                  </div> -->
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                              <label for="CGST" class="form-label fw-bold">CGST</label>
                              <div class="col-8">
                                  <input type="number" name="CGST" class="form-control" id="validationServer01" v-model="formData.CGST" v-validate="'numeric'" disabled>
                                  <!-- <div v-if="errors.has('CGST')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Amount is required.
                                  </div> -->
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                                <label for="SGST" class="form-label fw-bold">SGST</label>
                                <div class="col-8">
                                    <input type="number" name="SGST" class="form-control" id="validationServer01" v-model="formData.SGST" v-validate="'numeric'" disabled>
                                  <!-- <div v-if="errors.has('SGST')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                      Amount is required.
                                    </div> -->
                                </div>
                            </div>


                            <div class="col-md-12 d-flex flex-wrap justify-content-between">
                                <label for="CGST" class="form-label fw-bold">Total Payable</label>
                                <div class="col-8">
                                    <input type="number" name="CGST" class="form-control" id="validationServer01" v-model="formData.payable" v-validate="'numeric'" disabled>
                                    <!-- <div v-if="errors.has('CGST')" id="validationServerUsernameFeedback" class="invalid-feedback">
                                      Amount is required.
                                    </div> -->
                                </div>
                              </div>

                            <div class="col-12 text-end">
                              <button class="btn btn-lg btn-warning fw-bold text-white" type="submit">Submit Form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@<3.0.0/dist/vee-validate.js"></script>
    <script src="https://unpkg.com/vee-validate@<3.0.0"></script>
    <script>
         Vue.use(VeeValidate);
        const app = new Vue({
            el: "#app",
            data:{
                formData: {
                    reciptNo: null,
                    entity: null,
                    amount: null,
                    remark: null,
                    IGST:0,
                    CGST: 0,
                    SGST: 0,
                    payable: 0,
                    discount:0,
                    dateCreated: new Date()
                },
                isFatching: false,
                recipts:[] ,
            },
            methods: {
                    submitRecipt: function(){
                        console.log(this.formData)
                    },
                    onAmountChange: function(amt){
                        console.log(amt)
                        if(!amt){
                            return
                        }
                        const gstp = 18
                        const amount = +amt
                        // this.formData.IGST = Math.round(amount * gstp / 100);
                        this.formData.CGST =  Math.round(amount * gstp / 100);
                        this.formData.SGST =  Math.round(amount * gstp / 100);
                        this.formData.payable = amount + this.formData.IGST + this.formData.CGST + this.formData.SGST
                    },
                    loadRecipt: async function(){
                        this.isFatching = true
                        try{

                            let res = await fetch("http://localhost:1337/api/v1/recipt");
                            res = await res.json();
                            console.log(res)
                            this.isFatching = false
                            this.recipts = res.data;
                            console.log(this.recipts)
                        }
                        catch(err){
                            this.isFatching = false
                            console.log(err)
                        }
                    },
                    getRecipt(id){

                    }

                },
            watch: {
            // 'formData.amount': function(val, oldVal) {
            //     if(val != oldVal){
            //         debugger
            //         const amount = +val;
            //         this.formData.IGST = amount * gstp / 100;
            //             this.formData.CGST = amount * gstp / 100;
            //             this.formData.SGST = amount * gstp / 100;
            //             this.total = amount + this.formData.IGST + this.formData.CGST + this.formData.SGST
            //     }
            //     }
            },
            created(){
                this.loadRecipt()
            }
        })
    </script>
</body>
</html>
