/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * For more information see:
 *   https://sailsjs.com/anatomy/assets/styles/importer-less
 */


// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'mixins-and-variables.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

/*! This special bang (!) comment is here to trick the `hash` Grunt task into working out-of-the-box, without any real CSS. You can delete this once you've imported ≥1 .less file as demonstrated above. */

// *{
//     margin: 0;
//     padding:0;
//     box-sizing: border-box;
// }
// section#ek-recipt {
//     font-size: 18px;
// }
// #ek-recipt .ek-page-title {
//     margin: 2rem auto 3.5rem;
// }
// #ek-recipt .border-bottom{
//     border-color: #333 !important;
// }
// .ek-h-3{
//     height: 5rem;
// }
// .ek-field-value{
//     padding: 10px
// }
// .border-dark-1{
//     border: 2px solid #333;
//     margin-bottom: 1.5rem;
// }
// a.nav-link {
//     color: #fff;
//     text-transform: capitalize;
//     font-size: 18px;
//     font-weight: 400;
// }
// @media print {
//     @page{
//         size: 210mm 300mm;
//         margin: 50px;
//     }
//     .print-btn{display:none};
//     body{
//         width:747px;
//         size: A4 portrait;
//     }
// }