* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.navbar-dark {
background-color: #333;
}
.container{
width: calc(100% - 30px);
margin-inline: auto;
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar>.container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 1rem;
  text-transform: capitalize;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 70%);
  text-decoration: none;
  color: #fcfcf2;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}

